.env.dev
.env.dev.db
.env.prod
.env.prod.db
.env.prod.proxy-companion
.env.staging.proxy-companion
./app/static/
./app/media/

__pycache__/
*.py[cod]

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
