{% extends 'run.html' %}

{% load static %}
{% load widget_tweaks %}
{% load keyvalue %}

{% block javascript %}
{% endblock %}

{% block runcontent %}

<div class="container mt-3">
<div class="row">
<p>
{% if arvi == True %}
This section maps the products found in the uploaded contigs to the ARVI-defined mapping files for antibiotic resistance genes and virulence factors as explained in the <a href="{% url 'help' %}">help section</a>.
{% else %}
This section maps the formed products to the user-defined mapping files. See the <a href="{% url 'help' %}">help section</a> to find out what mapping files are and how to create them.
{% endif %}
</p>
</div>
</div>

{% if inProgress == True and maps|length == 0 %}
The mapping files are being created. Please refresh this page in an instant.
{% elif inProgress == False and maps|length == 0 %}
No maps were uploaded!
{% endif %}


{% for map, elements in maps.items %}
	{% if map == "abr_map.csv" %}
	<h1 style="padding-top: 15px; padding-bottom: 10px;">Antibiotic resistances</h1>
	{% elif map == "vf_map.csv" %}
	<h1 style="padding-top: 15px; padding-bottom: 10px;">Virulence factors</h1>
	{% else %}
	<h1 style="padding-top: 15px; padding-bottom: 10px;">{{ map }}</h1>
	{% endif %}
        {% for item in elements %}
		{% for sequence, data in item.items %}
			<h3 style="padding-top: 15px; padding-bottom: 10px;">{{ sequence }}</h3>
			<div class="table-responsive-sm">
			<table class="table" style="font-size: 12px;">
				<thead>
					<tr>
						<th scope="col">Gene</th>
						<th scope="col">MM1</th>
						<th scope="col">MM2</th>
						<th scope="col">MMp</th>
						<th scope="col">Size</th>
						<th scope="col">Expected Size</th>
						{% for column in elements.1 %}
						    <th scope="col">{{ column }}</th>
						{% endfor %}
						<th scope="col">Product</th>
					</tr>
				</thead>
				<tbody>
					{% for hit in data %}
						<tr>
							<td>{{ hit.Gene }}</td>
							<td>{{ hit.NoMismatchesLeft|floatformat:0 }}</td>
							<td>{{ hit.NoMismatchesRight|floatformat:0 }}</td>
							<td>{{ hit.NoMismatchesProbe|floatformat:0 }}</td>
							<td>{{ hit.ProductSize|floatformat:0 }}</td>
							<td>{{ hit.ExpectedSize|floatformat:0 }}</td>
						        {% for column in elements.1 %}
								<td>{{ hit|one_more:elements.1|keyvalue:forloop.counter0 }}</td>
						        {% endfor %}
							<td><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome&QUERY={{ hit.Product }}">BLAST</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
		{% endfor %}
	{% endfor %}


{% endfor %}

{% endblock %}

